.traction {
  position: relative;
  width: 100%;
  margin: 64px 0;
}

.traction-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-top: 64px;

  @media screen and (max-width: 768px) {
    margin-top: 32px;
  }

  @media screen and (max-width: 768px) {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    place-items: center;
  }
}

.traction-card {
  width: 100%;
  height: 100%;
  padding: 40px;
  background: linear-gradient(28.91deg, #f1effa 0.32%, #ffffff 94.27%);
  border-radius: 30px;

  .number {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #684ec8;
  }

  .context {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    .number {
      font-size: 30px;
      line-height: 40px;
    }

    .context {
      font-size: 14px;
      line-height: 20px;
    }

    &:last-child {
      grid-column: span 2;
    }
  }
}

.traction-asset-container {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  .traction-right {
    position: absolute;
    top: 0;
    right: 0;
    @media screen and (max-width: 768px) {
      transform: scale(0.5) translateX(50%) translateY(-100%);
    }
  }
}
